@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container text-center">
    <img src="~/img/404.gif" alt="Página no encontrada" class="img-fluid imgError" />
    <h2>
        Por ahora has accedido a una página que todavía no hemos construido o
        una dirección incorrecta, por favor regresa al
        <a asp-controller="Home" asp-action="Index">inicio</a>
    </h2>
</div>
