@{
    ViewData["Title"] = "Categorias";
}

<section>
    <div class="container py-4" id="categoriesComponents">
        <h4>Componentes</h4>
        <article class="row justify-content-center img-fluid object-fit-cover">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/Ryzen5.png"
                         class="card-img-top categoriesImg"
                         alt="Ryzen5" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Procesador Amd Ryzen 5 5600g</h5>
                        <p class="card-text">
                            <ul>
                                <li>5ta Generación</li>
                                <li>Incluye 6 núcleos de CPU</li>
                                <li>Velocidad de reloj base 4,4GHz</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productRyzen5.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/placaMadreAsrock.png"
                         class="card-img-top categoriesImg"
                         alt="placaMadreAsrock" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Placa Madre Asrock A520m-hdv</h5>                  </h5>
                        <p class="card-text">
                            <ul>
                                <li>Incluye 2 ranuras de expansión</li>
                                <li>Socket AM4</li>
                                <li>Tipo de memoria RAM DDR4</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productMbAsrock.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/ssdPNY.png"
                         class="card-img-top categoriesImg"
                         alt="ssdPNY" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Disco Sólido Ssd Pny Cs900</h5>
                        <p class="card-text">
                            <ul>
                                <li>Capacidad de 960 GB</li>
                                <li>Interfaz SATA III</li>
                                <li>Factor de forma 2.5 "</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/gabineteXigmatek.png"
                         class="card-img-top categoriesImg"
                         alt="gabineteXigmatek" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Gabinete Gamer Xigmatek</h5>
                        <p class="card-text">
                            <ul>
                                <li>Modelo VORTEX</li>
                                <li>Tipo de estructura Mid tower</li>
                                <li>Panel frontal RGB</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="d-flex justify-content-center w-100">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">2</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">3</a></li>
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section>
    <div class="container py-4" id="categoriesPeri">
        <h4>Periféricos</h4>
        <article class="row justify-content-center img-fluid object-fit-cover">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/mouseRazer.png"
                         class="card-img-top categoriesImg"
                         alt="mouseRazer" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Mouse Razer Basilisk</h5>
                        <p class="card-text">
                            <ul>
                                <li>10+1 Botones programables</li>
                                <li>Resolución de 26000ppp</li>
                                <li>Retroiluminación RGB</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productMouseRazer.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/aurisHyperX.png"
                         class="card-img-top categoriesImg"
                         alt="aurisHyperX" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Auriculares HyperX Cloud</h5>
                        <p class="card-text">
                            <ul>
                                <li>Conectividad bluetooth</li>
                                <li>Cancelación de ruido</li>
                                <li>Micrófono flexible incorporado</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productHpHyperX.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/tecladoRedDragon.png"
                         class="card-img-top categoriesImg"
                         alt="tecladoRedDragon" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Teclado Redragon YamaK550</h5>
                        <p class="card-text">
                            <ul>
                                <li>Retroiluminación RGB</li>
                                <li>Switch Outemu Purple</li>
                                <li>Layout QWERTY</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/webcamLogitech.png"
                         class="card-img-top categoriesImg"
                         alt="webcamLogitech" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Webcam Logitech C922</h5>
                        <p class="card-text">
                            <ul>
                                <li>Full HD</li>
                                <li>Interfaz USB-A 2.0.</li>
                                <li>Resolución máx. 1920px x 1080px</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="d-flex justify-content-center w-100">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">2</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">3</a></li>
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section>
    <div class="container py-4" id="categoriesNotebooks">
        <h4>Notebooks</h4>
        <article class="row justify-content-center img-fluid object-fit-cover">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/nbSamsung.png"
                         class="card-img-top categoriesImg"
                         alt="NotebookSamsungGalaxyBook3" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Samsung Galaxy Book3</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador Intel i7</li>
                                <li>Memoria RAM 16 GB</li>
                                <li>Tamaño de la pantalla 15.6"</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productNbSamsung.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/nbDell.png"
                         class="card-img-top categoriesImg"
                         alt="NotebookDellInspiron3515" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Dell Inspiron 3515</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador AMD Ryzen 7</li>
                                <li>Memoria RAM 8 GB</li>
                                <li>Tamaño de la pantalla 15.5"</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productNbDell.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/nbHP.png"
                         class="card-img-top categoriesImg"
                         alt="notebookHPEliteBook835" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">HP EliteBook 835</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador AMD Ryzen 5</li>
                                <li>Memoria RAM 16 GB</li>
                                <li>Tamaño de la pantalla 13.3"</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/nbLenovo.png"
                         class="card-img-top categoriesImg"
                         alt="NotebookLenovoIdeapad" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">Notebook Lenovo Ideapad</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador Intel i3</li>
                                <li>Memoria RAM 8 GB</li>
                                <li>Tamaño de la pantalla 14"</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="d-flex justify-content-center w-100">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">2</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">3</a></li>
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section>
    <div class="container py-4" id="categoriesPcs">
        <h4>PCs</h4>
        <article class="row justify-content-center img-fluid object-fit-cover">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/pcRyzen5.png"
                         class="card-img-top categoriesImg"
                         alt="PCAMDRyzen5" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">PC AMD Ryzen 5</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador AMD Ryzen 5 4600G</li>
                                <li>Memoria RAM 16 GB</li>
                                <li>Disco duro 1 TB</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productPCAMDRyzen.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/pcInteli5.png"
                         class="card-img-top categoriesImg"
                         alt="PCInteli5" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">PC Intel I5</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador Intel I5 9400</li>
                                <li>Memoria RAM 16 GB</li>
                                <li>Disco duro 1 TB</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="./productPCIntel.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="./productPCIntel.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/pcRyzen3.png"
                         class="card-img-top categoriesImg"
                         alt="PCAMDRyzen3" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">PC AMD Ryzen 3</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador AMD Ryzen 5 3200G</li>
                                <li>Memoria RAM 16 GB</li>
                                <li>Disco duro 480 GB</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/pcInteli3.png"
                         class="card-img-top categoriesImg"
                         alt="PCInteli3" />
                    <div class="card-body text-light d-flex flex-column">
                        <h5 class="card-title text-center">PC Intel I3</h5>
                        <p class="card-text">
                            <ul>
                                <li>Procesador Intel I3 112100</li>
                                <li>Memoria RAM 8 GB</li>
                                <li>Disco duro 250 GB</li>
                            </ul>
                        </p>
                        <div class="mt-auto">
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Ver más</a>
                            </div>
                            <div>
                                <a href="../pages/error404.html" class="btn w-100 boton3 mb-1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="d-flex justify-content-center w-100">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">2</a></li>
                    <li class="page-item"><a class="page-link bg-black text-light" href="./error404.html">3</a></li>
                    <li class="page-item">
                        <a class="page-link bg-black" href="./error404.html" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
