@{
    ViewData["Title"] = "Contact";
}

<section class="mt-4">
    <h1 class="text-center">Contactános</h1>
    <hr />
    <article class="container mb-4">
        <h2 class="text-center my-5">¡Realízanos tu consulta!</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 p-0">
                <img src="~/img/form-contacto.jpg"
                     class="img-fluid h-100 imgForm"
                     alt="imagen de formulario de contacto" />
            </div>
            <div class="col-lg-6 p-4">
                <form action="">
                    <h3 class="mb-3">Completa el formulario</h3>
                    <div class="mb-3">
                        <label for="apynom" class="form-label">Apellido y Nombre:</label>
                        <input id="apynom"
                               type="text"
                               class="form-control"
                               placeholder="Ej. Hugo Flores"
                               minlength="3"
                               maxlength="80"
                               required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email"
                               type="text"
                               class="form-control"
                               placeholder="Ej. usuario@usuario.com"
                               minlength="10"
                               maxlength="320"
                               required />
                    </div>
                    <div class="mb-3">
                        <label for="consulta" class="form-label">Tu consulta:</label>
                        <textarea id="consulta"
                                  rows="6"
                                  class="form-control"
                                  placeholder="Escribe tu consulta"
                                  minlength="15"
                                  maxlength="350"
                                  required></textarea>
                    </div>
                    <button class="btn btnForm text-light w-100">
                        Enviar consulta
                    </button>
                </form>
            </div>
        </div>
    </article>
</section>
