@{
    ViewData["Title"] = "Contact";
}

<section class="mt-4">
    <h1 class="text-center">Contactános</h1>
    <hr />
    <article class="container mb-4">
        <h2 class="text-center my-5">¡Realízanos tu consulta!</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 p-0">
                <img src="~/img/form-contacto.jpg"
                     class="img-fluid h-100 imgForm"
                     alt="imagen de formulario de contacto" />
            </div>
            <div class="col-lg-6 p-4">
                <form action="">
                    <h3 class="mb-3">Completa el formulario</h3>
                    <div class="mb-3">
                        <label for="apynom" class="form-label">Apellido y Nombre:</label>
                        <input id="apynom"
                               type="text"
                               class="form-control"
                               placeholder="Ej. Hugo Flores"
                               minlength="3"
                               maxlength="80"
                               required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email"
                               type="text"
                               class="form-control"
                               placeholder="Ej. usuario@usuario.com"
                               minlength="10"
                               maxlength="320"
                               required />
                    </div>
                    <div class="mb-3">
                        <label for="consulta" class="form-label">Tu consulta:</label>
                        <textarea id="consulta"
                                  rows="6"
                                  class="form-control"
                                  placeholder="Escribe tu consulta"
                                  minlength="15"
                                  maxlength="350"
                                  required></textarea>
                    </div>
                    <button class="btn btnForm text-light w-100">
                        Enviar consulta
                    </button>
                </form>
            </div>
        </div>
    </article>
    <article class="container my-4">
        <h2 class="text-center my-5">Nuestra Información</h2>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <p class="fs-5">
                    <i class="fa-solid fa-location-dot a3"></i>
                    <b>Dirección:</b> Gral. Paz 576, San Miguel de Tucumán
                </p>
                <p class="fs-5">
                    <i class="fa-solid fa-envelope a3"></i>
                    <b>Email:</b> usuario@usuario.com
                </p>
                <p class="fs-5">
                    <i class="fa-solid fa-phone a3"></i> <b>Teléfono:</b> xxxxxxxx
                </p>
                <p class="fs-5">
                    <i class="fa-brands fa-whatsapp a3"></i>
                    <b>Whatsapp:</b> xxxxxxxx
                </p>
                <p class="fs-5">
                    <i class="fa-solid fa-clock a3"></i> <b>Nuestros Horarios:</b>
                    <br />
                    Cede principal <br> Lun a vier. de 9:00 AM - 19.00 PM <br> Sabado de 9:00
                    AM - 14:30 PM
                </p>

                <h5 class="text-center a1 fs-3 mt-5">Nuestras Redes Sociales</h5>
                <div class="text-center">
                    <a href="../pages/error404.html" class="text-light fs-2 mx-2  text-decoration-none">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="../pages/error404.html" class="text-light fs-2 mx-2 text-decoration-none">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="../pages/error404.html" class="text-light fs-2 mx-2  text-decoration-none">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="../pages/error404.html" class="text-light fs-2 mx-2  text-decoration-none">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="../pages/error404.html" class="text-light fs-2 mx-2  text-decoration-none">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.1023709809015!2d-65.20977672481185!3d-26.836696090031396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225d3ad7f30f1d%3A0xf8606cd659b8e3e4!2sRollingCode%20School!5e0!3m2!1ses-419!2sar!4v1695828878993!5m2!1ses-419!2sar"
                        class="w-100 h-100"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </article>
</section>
